*{
    margin: 0px;
    padding: 0px;
}



h1 {
    margin: 20px;
    color: rgb(55, 55, 55);
    text-align: start;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.grancontainer {
    margin: 20px;
    display: grid;
    grid-template-columns: 170px 170px;
    gap: 10px;
}

.containercard {
    display: flex;
    padding: 10px 0px 10px 0px;
    background-color: #46d1b2;
    border-radius: 20px;
}

.secciontexto {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
}

.nombre {
    color: aliceblue;
    font-size: 1em;
    margin-bottom: 8px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.fondotexto mark{
    font-size: 0.7em;
    text-align: center;
    color: aliceblue;
    background-color: #61e2cb;
    border-radius: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.seccionimg {
    margin-left: -10px;
}

.numero {
    text-align: end;
    font-size: 15px;
    color: rgb(58, 127, 74);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.imgpoke {
    height: 80px;

}




/* ********* */


/* .numero {
    text-align: end;
    font-size: 20px;
    color: rgb(58, 127, 74);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nombre {
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    display: flex;
    justify-content: space-around;
}

.minicontainer {
    display: flex;
    flex-direction: column;

}

.fondotexto {
    text-align: center;
    color: aliceblue;
    background-color: #61e2cb;
    border-radius: 10px;


    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}




.imgpoke {
    height: 100px;

}


.cardmini {
    background-color: #46d1b2;
    padding: 10px 30px 0px 30px;
    border-radius: 30px;
} */

