* {
    margin: 0px;
    padding: 0px;
}

.grancontainer {
    display: flex; 
    justify-content: center;
    width: 100%;
    max-width: 1400px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 170px);
    gap: 10px;
} 

.containercard {
    display: flex;
    width: 170px;
    padding: 10px 0px 10px 0px;
    background-color: #46d1b2;
    border-radius: 20px;
}

.secciontexto {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
}

.nombre {
    color: aliceblue;
    font-size: 1em;
    margin-bottom: 8px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.fondotexto mark {
    font-size: 0.7em;
    text-align: center;
    color: aliceblue;
    background-color: #61e2cb;
    border-radius: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.seccionimg {
    margin-left: -10px;
}

.numero {
    text-align: end;
    font-size: 15px;
    color: rgb(58, 127, 74);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.imgpoke {
    height: 80px;

}

.containercard {
    transition: .5s, color .10s;
    -webkit-transition: .5s, color .10s;
    -moz-transition: .5s, color .10s;
}

.containercard:hover {
    box-shadow: 0 8px 8px 0 #7aa470, 0 8px 8px 0 #000000;
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    -moz-transform: translate(0px, 5px);
}