*{
    margin: 0px;
    padding: 0px;
}



h1 {
    margin: 20px;
    color: rgb(55, 55, 55);
    text-align: start;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.grancontainer {
    width: 90%;
    max-width: 1200px;
    margin: 0px 20px 0px 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 170px);
    gap: 10px;
}

.containercard {
    display: flex;
    width: 170px;
    padding: 10px 0px 10px 0px;
    background-color: #46d1b2;
    border-radius: 20px;
}

.secciontexto {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
}

.nombre {
    color: aliceblue;
    font-size: 1em;
    margin-bottom: 8px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.fondotexto mark{
    font-size: 0.7em;
    text-align: center;
    color: aliceblue;
    background-color: #61e2cb;
    border-radius: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.seccionimg {
    margin-left: -10px;
}

.numero {
    text-align: end;
    font-size: 15px;
    color: rgb(58, 127, 74);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.imgpoke {
    height: 80px;

}




/* ********* */


/* @media (min-width: 1200px){
    .grancontainer{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    } 
} */