*{
    margin: 0px;
    padding: 0px;
}

header {
    display: flex;
    justify-content: center;
} 

h1 {
    margin: 20px;
    color: rgb(55, 55, 55);
    text-align: start;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}